<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new Member</title>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Poppins:wght@300;400;600&family=Roboto:ital,wght@1,300&family=Sacramento&family=Space+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="title">Add a new member</h1>
    <h4 class="title">
      Be sure to enter both name and email or member will not be added
    </h4>
    <form method="post" th:action="@{/new-member}" th:object="${newMember}">
      <h4 class="title">Name</h4>
      <input type="text" th:field="*{name}" />
      <h4 class="title">Email</h4>
      <input type="text" th:field="*{email}" />
      <br />
      <input type="submit" value="Add New Member" />
    </form>
    <br />
    <a class="links" th:href="@{/}">Start Page</a>
  </body>
</html>
