<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>our Members</title>
  </head>
  <body>
    <h1>Members</h1>
    <ul>
      <li th:each="member : ${membersList}">
        <div>
          <span>Name:</span>
          <span th:text="${member.name}"></span>
          <span>Email:</span>
          <span th:text="${member.email}"></span>
          <span>Age:</span>
          <span th:text="${member.age}"></span>
          <span th:text="${membersList.indexOf(member)}"></span>
          <a
            th:href="@{/remove-member/{memberIndex}(memberIndex=${membersList.indexOf(member)})}"
            >[X]</a
          >
        </div>
      </li>
    </ul>
    <a th:href="@{/}">Start Page</a>
  </body>
</html>
